<div id="display">
    <%= partial 'partials/gauge', locals: { id:'velX' } %>
    <%= partial 'partials/gauge', locals: { id:'velY' } %>
    <%= partial 'partials/gauge', locals: { id:'vel' } %>
    <%= partial 'partials/gauge', locals: { id:'velX_dX' } %>
    <%= partial 'partials/gauge', locals: { id:'velY_dX' } %>
    <div class="info_field number" id="xPos"><span>xPos</span><span class="val"></span></div>
    <div class="info_field number" id="yPos"><span>yPos</span><span class="val"></span></div>
    <div class="info_field number" id="mousedown"><span>mousedown</span><span class="val"></span></div>
    <div class="info_field number" id="mouseactive"><span>mouseactive</span><span class="val"></span></div>
    <div class="info_field number" id="padded_vel"><span>padded_vel</span><span class="val"></span></div>
</div>
